/* Estilos Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

/* Cabecera */
.site-header {
    background-color: #fff;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex: 1;
}

.site-logo {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
}

.main-navigation {
    flex: 3;
    text-align: right;
}

.main-navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.main-navigation a, .menu-toggle {
    text-decoration: none;
    color: #800080;
    padding: 10px;
    transition: color 0.3s;
}

.main-navigation a:hover, .main-navigation a.active {
    color: #ff69b4;
}

.menu-toggle {
    display: none;
    background-color: #800080;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Contenido Principal */
.main-content {
    padding: 20px;
    text-align: center;
}

.image-container {
    margin: 20px auto;
}

.centered-image .adjustable-size {
    margin: 0 auto;
    max-width: 100%;
    width: 70%; /* Incrementamos el tamaño en escritorio */
}

/* Logo de WhatsApp */
.whatsapp-link img {
    width: 25px;
}

/* Pie de página */
.site-footer {
    background: linear-gradient(to bottom, #ffffff, #800080);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content p, .social-links a {
    margin: 10px;
    color: #fff;
}

.social-links a {
    display: inline-block;
    margin: 0 15px;
}

.social-links img {
    width: 25px;
}

/* Responsividad */
@media (max-width: 768px) {
    .main-navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .main-navigation a {
        padding: 10px 0;
    }

    .menu-toggle {
        display: inline-block;
    }

    .image-container, .centered-image .adjustable-size {
        max-width: 100%;
        width: 100%; /* Ajustamos para que ocupe todo el ancho disponible en dispositivos medianos */
    }
}

@media (max-width: 480px) {
    .site-header, .main-navigation ul, .main-content {
        flex-direction: column;
    } 

    .logo-container, .main-navigation {
        text-align: center;
        width: 100%;
    }

    .menu-toggle {
        margin-bottom: 10px;
    }

    .image-container, .centered-image .adjustable-size {
        width: 100%; /* La imagen ocupa todo el ancho en dispositivos muy pequeños para una mejor visualización */
    }
}
