* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header {
    background-color: white;
    color: #800080;
    padding: 10px 20px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #800080; /* Cambia el color del texto del menú a morado */
    text-decoration: none;
    transition: color 0.3s ease; /* Agrega transición suave al color */
}
header nav ul li a:hover {
    color: #ff69b4; /* Destaca el color al posicionar el mouse */
}
main {
    display: flex;
    margin: 20px;
}


/* Estilos para el footer */
footer {
    background: linear-gradient(to bottom, #ffffff, #800080); /* Fondo degradado de blanco a morado */
    color: #800080; /* Color del texto en el footer */
    padding: 20px 0; /* Añade algo de relleno */
    text-align: center; /* Centra el contenido */
}

.footer-content p, .social-links a {
    margin: 10px 0; /* Espaciado vertical para elementos dentro del footer */
}

.social-links a {
    display: inline-block; /* Muestra los enlaces de redes sociales en línea */
    margin: 0 10px; /* Espaciado horizontal entre íconos */
}

.social-links img {
    width: 30px; /* Tamaño uniforme para los íconos de redes sociales */
    height: auto; /* Mantiene la proporción de los íconos */
}

.logo img {
    height: 100px; /* Ajusta según el tamaño de tu logo */
    margin: 0 0 0 320px; /* Espacio alrededor del logo: arriba, derecha, abajo, izquierda */
}

.navbar {
    list-style-type: none; /* Remueve los estilos predeterminados de lista */
    margin: 0;
    padding: 0;
    display: flex; /* Alinea los elementos de la lista horizontalmente */
    justify-content: flex-end; /* Ajusta esta propiedad para alinear como prefieras */
}

.navbar li {
    padding: 20px; /* Espaciado alrededor de cada elemento de la lista */
}

.navbar a {
    text-decoration: none; /* Remueve el subrayado de los enlaces */
    color: inherit; /* Hereda el color del elemento padre */
}

.navbar a:hover {
    text-decoration: underline; /* Subraya el enlace cuando se posicione el mouse sobre él */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Cambia la disposición de los elementos a vertical */
    }

    .navbar li {
        text-align: center; /* Centra el texto en dispositivos móviles */
    }
    .image-gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
:root {
    --primary-color: #007bff; /* Por ejemplo, un tono de azul */
    --text-color: #333;
}

p {
    line-height: 1.6; /* Aumenta la legibilidad del texto */
}

.container {
    width: 80%; /* Usa un porcentaje del ancho de la ventana/viewport */
    max-width: 1200px; /* Un máximo para no extenderse demasiado en pantallas grandes */
    margin: auto; /* Centra el contenedor */
}
img {
    max-width: 100%;
    height: auto;
}